.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.card__like-btn {
  background-image: url("../images/State=Hover.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  cursor: url("/images/pointer.svg") 17 0, pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    width: 240px;
    font-size: 16px;
    line-height: 16px;
  }
}
