.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  max-width: 1440px;
  max-height: 1416px;
  padding-bottom: 80px;
  margin: 0 auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.page__section {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 16px;
}

@media screen and (max-width: 627px) {
  .page {
    max-height: fit-content;
    padding-bottom: 40px;
  }
}
