.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-top: auto;
  margin-left: 0;
  background: none;
  border: none;
  width: 70px;
  height: 16px;
  white-space: nowrap;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
}

.profile__edit-button::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/button-pencil.svg");
  background-size: cover;
}

.profile__edit-btn:hover {
  cursor: url("/images/pointer.svg") 17 0, pointer;
  opacity: 0.7;
}

.profile__image-pencil {
  color: #212121;
}

.profile__add-btn {
  width: 149px;
  height: 52px;
  color: #fcf5e5;
  margin-left: auto;
  margin-top: auto;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  border-radius: 8px;
  border: none;
  background: #212121;
}

.profile__add-btn:hover {
  cursor: url("/images/pointer.svg") 17 0, pointer;
  opacity: 0.8;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
    font-weight: 400;
  }

  .profile__edit-btn {
    margin-bottom: 18px;
    margin-right: 35px;
    padding: 0;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
